html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: white;
    background-image: url(../img/ba.png);
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
    height: 100%;
     width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Courier "Courier New";
    position: relative;

}


header .header_top {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #fff;
    z-index: 100;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding-left: 36px;
}

.top_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_title {
    padding-left: 24px;
    margin-top: 42px;
    font-size: 22px;
}

.top_right {
    padding-right: 64px;

}

.top_right a {
    text-decoration: none;
    color: #7fad39;
    font-size: 18px;
}



.ig {
    background-color: white;
    z-index: 10;
    margin-top: 90px;
    zoom: 0.88;


}

.container_content {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header {
    padding: 10px 40px;
    background-color: #7fad39;
    border-bottom: 1px solid #7fad39;
    text-align: center;
}

.header h2 {
    color: white;
    margin: 0;

}

.form {
    padding: 30px 40px;

}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;

}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;

}


.form-control input {
    border: 2px solid #b6b6b6;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}

.form-control input:hover {
    border-color: #b6b6b6;
}

.form-control input:focus {
    outline: #b6b6b6;

}

.form-control.error input {
    border-color: red;
}

.form-control.success input {
    border-color: #7fad39;
}


.form-control i {
    position: absolute;
    top: 35px;
    right: 10px;
    visibility: hidden;

}

.form-control.success i.fa-circle-check {
    visibility: visible;
    color: #2ecc71;
}

.form-control.error i.fa-circle-info {
    visibility: visible;
    color: red;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    left: 0;
}

.form-control.error small {
    color: red;
    visibility: visible;
}

.form button {
    background-color: #7fad39;
    border: none;
    color: white;
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;
}

.form .for a {
    color: #7fad39;
    margin-left: 100px;
    font-size: 15px;
}

.form .reg {
    margin-top: 20px;
    height: 38px;
    border: none;
    background-color: #7fad39;
    line-height: 38px;
    border-radius: 4px;
    font-weight: 600;
    margin-left: 70px;
    width: 180px;
    text-align: center;
}

.form .reg a {
    color: white;
    font-size: 17px;
    text-decoration: none;
}
.footer {
	background: #F3F6FA;
	padding-top: 70px;
	padding-bottom: 0;
	height: 500px;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul li {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 36px;
	list-style: none;
}

.footer__about__logo {
	margin-bottom: 15px;
}

.footer__about__logo a {
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}

.footer__widget h5 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget ul {
	width: 50%;
	float: left;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: #1c1c1c;
	font-size: 14px;
	line-height: 32px;
}

.footer__widget p {
	font-size: 14px;
	color: #1c1c1c;
	margin-bottom: 30px;
}

.footer__widget form {
	position: relative;
	margin-bottom: 30px;
}

.footer__widget form input {
	width: 100%;
	font-size: 16px;
	padding-left: 20px;
	color: #1c1c1c;
	height: 46px;
	border: 1px solid #ededed;
}

.footer__widget form input::placeholder {
	color: #1c1c1c;
}

.footer__widget form button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 26px;
	height: 100%;
}

.footer__widget .footer__widget__social a {
	display: inline-block;
	height: 41px;
	width: 41px;
	font-size: 16px;
	color: #404040;
	border: 1px solid #ededed;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	background: #ffffff;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
	margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
	background: #7fad39;
	color: #ffffff;
	border-color: #ffffff;
}

.footer__copyright {
	border-top: 1px solid #ebebeb;
	padding: 15px 0;
	overflow: hidden;
	margin-top: 20px;
}

.footer__copyright__text {
	font-size: 14px;
	color: #1c1c1c;
	float: left;
	line-height: 25px;
}

.footer__copyright__payment {
	float: right;
}



.map {
	height: 500px;
	position: relative;
}

.map iframe {
	width: 100%;
}

.map .map-inside {
	position: absolute;
	left: 50%;
	top: 160px;
	-webkit-transform: translateX(-175px);
	-ms-transform: translateX(-175px);
	transform: translateX(-175px);
}

.map .map-inside i {
	font-size: 48px;
	color: #7fad39;
	position: absolute;
	bottom: -75px;
	left: 50%;
	-webkit-transform: translateX(-18px);
	-ms-transform: translateX(-18px);
	transform: translateX(-18px);
}

.map .map-inside .inside-widget {
	width: 350px;
	background: #ffffff;
	text-align: center;
	padding: 23px 0;
	position: relative;
	z-index: 1;
	-webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
	box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
}

.map .map-inside .inside-widget:after {
	position: absolute;
	left: 50%;
	bottom: -30px;
	-webkit-transform: translateX(-6px);
	-ms-transform: translateX(-6px);
	transform: translateX(-6px);
	border: 12px solid transparent;
	border-top: 30px solid #ffffff;
	content: "";
	z-index: -1;
}

.map .map-inside .inside-widget h4 {
	font-size: 22px;
	font-weight: 700;
	color: #1c1c1c;
	margin-bottom: 4px;
}

.map .map-inside .inside-widget ul li {
	list-style: none;
	font-size: 16px;
	color: #666666;
	line-height: 26px;
}

